body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #414141;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: #212121;
  color: #fff;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
  font-size: 1.8em;
  font-family: 'Times New Roman', Times, serif;
}

nav.sidebar {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

nav.sidebar a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

nav.sidebar a:hover {
  color: #00c4ff;
}

main {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  display: flex;
  justify-content: center;
  margin: 0;
}

main div {
  padding: 50px 100px;
}

main .image {
  text-align: center;
}

main div h3 {
  text-align: center;
  color: #fff;
}

main div img {
  border-radius: 20px;
  transition: 0.3s;
}

main div button {
  padding: 10px 20px;
  background: #00c4ff;
  color: #fff;
  border-radius: 20px;
  transition: 0.2s;
  text-decoration: none;
}

main div button:hover {
  transform: scale(1.1);
  background: #00a3cc;
}

main div h1 {
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

main div img:hover {
  filter: brightness(70%);
  transition: 0.3s;
}

footer {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

footer nav {
  display: flex;
  gap: 100px;
}

footer nav a {
  padding: 40px 50px;
  color: #fff;
  background: #414141;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s;
  font-size: 1.7rem;
}

footer nav a:hover {
  transition: 0.3s;
  background: #afafafaf;
  transform: scale(1.1);
}

footer div {
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 350px;
  background: #212121;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  color: #fff;
}


