body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: blue;
}
div {
    padding: 250px;
    background: red;
    border-radius: 50%;
    border: 5px solid orange;
}