body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


p {
    margin: 20px;
    padding: 14px;
    background: red;
    border-radius: 10px;
}