body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 10px 20px;
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(1) {
    color: white;
    background-color: green;
}

.base tr:nth-child(even) {
    color: white;
    background-color: rgb(0, 0, 112);
}

.base tr:nth-child(odd) {
    color: white;
    background-color: rgb(130, 0, 0);
}

