body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    padding: 20px 10px;
    background: red;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    box-shadow: 2px 2px 5px grey;
    border: none;
}

button:hover {
    background: green;
    transform: scale(1.1);
}