body {
    font-family: Arial;
    background-color: #333;
    color: whitesmoke;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    color: #229;
    background-color: #222;
    font-family: 'Times New Roman', Times, serif;
}

main {
    justify-content: center;
    width: 50%;
}

main h3 {
    color: rgb(183, 0, 183);
    text-decoration: underline;
}

main span {
    color: pink;
}

main span:hover {
    text-decoration: underline;
    color: rgba(250, 140, 158, 0.852);
}

div {
    position: absolute;
    height: auto;
    width: auto;
}

.ftd {
    left: 1100px;
    top: 200px;
}

.fti {
    left: 800px;
    top: 430px;
}