body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

div {
    border: 5px double orange;
    border-radius: 50%;
    background: red;
    width: 250px;
    height: 250px;
}