body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

p {
    margin: 20px;
    padding: 14px;
    border: 2px solid grey;
    border-radius: 10px;
    width: 50%;
}