body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

button {
    padding: 20px 30px;
    background-color: red;
    border: none;
    transition: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 10px;
    font-size: 1.3rem;
}

button:hover {
    background-color: green;
    transform: scale(1.1);
}

