body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

img {
    border: 3px solid blue;
    margin: 30px;
    border-radius: 5px;
}