body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #4a90e2, #64ff93);
}

p {
    background-color: black;
    width: 20%;
    height: 12%;
    opacity: 0.8;
    border-radius: 10px;
}

table {
    width: 20%;
    height: 60%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.3);
    overflow: hidden;
}

td {
    border: 1px solid rgb(169, 169, 169);
    background: #e4f0ff;
    text-align: center;
    transition: 0.2s;
    width: 25%;
    height: 20%;
}

td:hover {
    background: #c4deff;
}
